<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.whiteleaf03.api.mapper.InterfaceInfoMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO windy_api.interface_info (name, `describe`, method, url, userId)
            VALUE (#{name}, #{describe}, #{method}, #{url}, #{userId});
    </insert>

    <select id="selectCountByStatusAndIsDelete" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM windy_api.interface_info
        WHERE status = 1 AND isDelete = 0;
    </select>

    <select id="selectIdAndNameAndDescribeByPageNumAndStatusAndIsDelete" resultType="top.whiteleaf03.api.modal.vo.OnlineInterfaceInfoVO">
        SELECT id, name, `describe`
        FROM windy_api.interface_info
        WHERE status = 1 AND isDelete = 0
        ORDER BY id
        LIMIT ${(pageNum - 1) * 10}, 10;
    </select>

    <select id="selectNameAndDescribeAndMethodAndUrlAndStatusAndCreateTimeAndUpdateTimeByIdAndIsDelete" resultType="top.whiteleaf03.api.modal.entity.InterfaceInfo">
        SELECT name, `describe`, method, url, status, createTime, updateTime
        FROM windy_api.interface_info
        WHERE id = #{id} AND isDelete = false;
    </select>

    <update id="updateStatusById">
        UPDATE windy_api.interface_info
        SET status = #{status}
        WHERE id = #{id};
    </update>

    <select id="selectCountByIsDelete" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM windy_api.interface_info
        WHERE isDelete = false;
    </select>

    <select id="selectIdAndNameAndDescribeAndMethodAndUrlAndStatusAndUserIdAndCreateTimeAndUpdateTimeByPageNumAndIsDelete"
            resultType="top.whiteleaf03.api.modal.entity.InterfaceInfo">
        SELECT id, name, `describe`, method, url, status, userId, createTime, updateTime
        FROM windy_api.interface_info
        WHERE isDelete = false
        ORDER BY id
        LIMIT ${(pageNum - 1) * 5}, 5;
    </select>

    <update id="updateNameOrDescribeOrMethodOrUrlById">
        UPDATE windy_api.interface_info
        <trim prefix="set" suffixOverrides="," suffix="where id = #{id}">
            <if test="name != null">name = #{name},</if>
            <if test="describe != null">`describe` = #{describe},</if>
            <if test="method != null">method = #{method},</if>
            <if test="url != null">url = #{url},</if>
        </trim>
    </update>

    <select id="selectNameById" resultType="java.lang.String">
        SELECT name
        FROM windy_api.interface_info
        WHERE id = #{id};
    </select>

    <select id="selectIdAndStatusByUrl" resultType="top.whiteleaf03.api.modal.dto.InterfaceIdAndStatusDTO">
        SELECT id AS interfaceId, status
        FROM windy_api.interface_info
        WHERE url = #{url};
    </select>
</mapper>