<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.whiteleaf03.api.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO windy_api.user (nickname, account, gender, password, accessKey, secretKey)
            VALUE (#{nickname}, #{account}, #{gender}, #{password}, #{accessKey}, #{secretKey});
    </insert>

    <select id="selectIdAndNicknameAndAvatarAndGenderAndRoleAndPasswordAndPasswordAndCreateTimeByAccount"
            resultType="top.whiteleaf03.api.modal.entity.User">
        SELECT id, nickname, avatar, gender, role, password, createTime
        FROM windy_api.user
        WHERE account = #{account} AND isDelete = false;
    </select>
</mapper>