<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.whiteleaf03.api.mapper.OrderMapper">
    <insert id="insertOrder">
        INSERT INTO windy_api.order (userId, interfaceId, submitMessage, level)
        VALUE (#{userId}, #{interfaceId}, #{submitMessage}, #{level});
    </insert>

    <select id="getCountByUserIdOrStatus" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM windy_api.order
        WHERE
            <choose>
                <when test="userId != null and userId >= 0">userId = #{userId};</when>
                <otherwise>status = 0</otherwise>
            </choose>
    </select>

    <select id="getSelfOrder" resultType="top.whiteleaf03.api.modal.entity.Order">
        SELECT id, interfaceId, level, submitMessage, replyMessage, status, createTime, updateTime
        FROM windy_api.order
        WHERE userId = #{userId}
        ORDER BY id
        LIMIT ${(pageNum - 1) * 10}, 10;
    </select>

    <select id="getAllOrder" resultType="top.whiteleaf03.api.modal.entity.Order">
        SELECT id, userId, level, submitMessage, status, createTime
        FROM windy_api.order
        <choose>
            <when test="status == 0">WHERE status = 0</when>
            <when test="status == 1">WHERE status = 1</when>
        </choose>
        ORDER BY id
        LIMIT ${(pageNum - 1) * 10}, 10;
    </select>

    <update id="updateReplyMessageById">
        UPDATE windy_api.order
        SET replyMessage = #{replyMessage}, status = 1
        WHERE id = #{orderId};
    </update>

    <select id="getUserIdById" resultType="java.lang.Long">
        SELECT userId
        FROM windy_api.order
        WHERE id = #{id};
    </select>
</mapper>