<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.whiteleaf03.api.mapper.UserInterfaceRecordMapper">
    <insert id="insert">
        INSERT INTO windy_api.user_interface_record (userId, interfaceId, totalNum, leftNum)
            VALUE (#{userId}, #{interfaceId}, #{totalNum}, #{leftNum});
    </insert>

    <select id="selectInterfaceIdAndTotalNumAndLeftNumAndCreateTimeAndUpdateTime" resultType="top.whiteleaf03.api.modal.entity.UserInterfaceRecord">
        SELECT interfaceId, totalNum, leftNum, updateTime
        FROM windy_api.user_interface_record
        WHERE userId = #{userId};
    </select>

    <update id="increase">
        UPDATE windy_api.user_interface_record
        SET totalNum = totalNum + #{increase}, leftNum = leftNum + #{increase}
        WHERE userId = #{userId} AND interfaceId = #{interfaceId};
    </update>

    <select id="selectIdByUserIdAndInterfaceId" resultType="java.lang.Long">
        SELECT id
        FROM windy_api.user_interface_record
        WHERE userId = #{userId} AND interfaceId = #{interfaceId};
    </select>

    <select id="selectLeftNumByUserIdAndInterfaceId" resultType="java.lang.Long">
        SELECT leftNum
        FROM windy_api.user_interface_record
        WHERE userId = #{userId} AND interfaceId = #{interfaceId};
    </select>

    <update id="updateLeftNumByUserIdAndInterfaceId">
        UPDATE windy_api.user_interface_record
        SET leftNum = leftNum - 1
        WHERE userId = #{userId} AND interfaceId = #{interfaceId};
    </update>

    <update id="increaseGuestTotalNum">
        UPDATE windy_api.user_interface_record
        SET leftNum = 20
        WHERE userId = -1;
    </update>
</mapper>