<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.whiteleaf03.api.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO windy_api.user (nickname, account, gender, password, email, accessKey, secretKey)
            VALUE (#{nickname}, #{account}, #{gender}, #{password}, #{email}, #{accessKey}, #{secretKey});
    </insert>

    <select id="selectIdAndNicknameAndAvatarAndGenderAndRoleAndPasswordAndPasswordAndCreateTimeByAccount"
            resultType="top.whiteleaf03.api.modal.entity.User">
        SELECT id, nickname, avatar, gender, role, password, createTime
        FROM windy_api.user
        WHERE account = #{account} AND isDelete = false;
    </select>

    <select id="selectNicknameById" resultType="java.lang.String">
        SELECT nickname
        FROM windy_api.user
        WHERE id = #{id};
    </select>

    <update id="updateAvatarById">
        UPDATE windy_api.user
        SET avatar = #{avatar}
        WHERE id = #{id};
    </update>

    <select id="selectEmailById" resultType="java.lang.String">
        SELECT email
        FROM windy_api.user
        WHERE id = #{id};
    </select>

    <update id="updatePasswordById">
        UPDATE windy_api.user
        SET password = #{newPassword}
        WHERE id = #{id};
    </update>

    <update id="updateNicknameOrGenderOrEmailById">
        UPDATE windy_api.user
        <trim prefix="set" suffixOverrides=",">
            <if test="nickname != null || nickname == ''">nickname = #{nickname},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="email != null || email == ''">email = #{email},</if>
        </trim>
        WHERE id = #{id};
    </update>

    <select id="selectIdAndEmailByAccount" resultType="top.whiteleaf03.api.modal.vo.UserIdAndEmailVO">
        SELECT id, email
        FROM windy_api.user
        WHERE account = #{account};
    </select>

    <select id="selectIdAndSecretKeyByAccessKey"
            resultType="top.whiteleaf03.api.modal.dto.UserIdAndSecretKeyDTO">
        SELECT id, secretKey
        FROM windy_api.user
        WHERE accessKey = #{accessKey};
    </select>
</mapper>